In [ ]:
Q1. Create a function which will take a list as an argument and return the product of all the numbers
after creating a flat list.
Use the below-given list as an argument for your function.
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [1]:
def product_of_all_numbers(lst):
    flat_list = []
    def flatten(l):
        for i in l:
            if type(i) == int:
                flat_list.append(i)
            elif type(i) == float:
                flat_list.append(i)
            elif type(i) == tuple or type(i) == list:
                flatten(i)
            elif type(i) == dict:
                for key, value in i.items():
                    if type(value) == int:
                        flat_list.append(value)
                    elif type(value) == float:
                        flat_list.append(value)
                    elif type(value) == tuple or type(value) == list:
                        flatten(value)
    flatten(lst)
    product = 1
    for num in flat_list:
        product *= num
    return product

In [3]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,22, 61, 34)}, [56, 'data science'], 'Machine Learning']
result = product_of_all_numbers(list1)
print(result)

172279659957795228284743385088000